@import '../partials-css/style'

#myVideo,
.hero
	min-width: 100%
	min-height: 100vh

.hero 
	position: relative
	overflow: hidden
	&::before
		position: absolute
		content: ''
		width: 100%
		height: 100%
		left: 0
		top: 0
		right: 0
		bottom: 0
		background: $hero-overlay-color

.scroll__indicator
	display: block
	width: 24px
	height: 40px
	margin-left: -12px
	text-indent: -99999px
	border: 2px solid #fff
	border-radius: 100px
	box-sizing: border-box
	position: absolute
	right: 58px
	bottom: 28px
	transition: opacity .2s ease
	z-index: 0
	transform: scale(1.8)
	&:before
		content: ''
		width: 6px
		height: 6px
		margin-left: -3px
		background-color: #fff
		border-radius: 100%
		position: absolute
		top: 6px
		left: 50%
		animation: scrolling 2s infinite ease
	
@keyframes scrolling
	0%
		top: 6px
		opacity: 1
	10%	
		top: 6px
		opacity: 1
	90%
		opacity: 0
	100%
		top: 24px
		opacity: 0

#myVideo
	position: absolute
	right: 0
	bottom: 0
	z-index: -1

.hero__top-bar
	position: relative
	padding: 20px 50px
	z-index: 99
	transition: 1s
	.hero__top-bar__left
		width: 150px
		height: 25px
		display: none

.hamburger__container
	opacity: 0
	transition: 1s
	&:hover
		cursor: pointer
	.hamburger__bar
		width: 30px
		height: 5px
		background: $bg-font-color
		margin-bottom: 5px
		&:nth-of-type(3)
			margin-bottom: 0

.hero__menu-container
	position: fixed
	top: 0
	right: -4000px
	width: 100%
	height: 100vh
	min-height: 300px
	margin: 0 auto
	background: $hero-menu-continer-color
	z-index: 10
	color: $bg-font-color
	transition: .5s ease-in-out
	.hero__menu-list
		text-align: center
.hero__menu-items
	li
		margin: 25px 0
		font-weight: 700
		a
			transition: .3s
			&:hover
				letter-spacing: 8px
				color: $color-decoration
	svg
		font-size: 1.2rem
		margin: 0 10px
		transition: .3s
		&:hover
			transform: translateY(-5px)

.hero__layer-outer,
.hero__layer-inner	
	position: absolute
	top: 0
	left: 0
	right: 0 
	bottom: 0
	width: 100%
	height: 100%
	background-size: cover
	background-position: left
.hero__layer-outer
	overflow: hidden
	transition: all .7s ease-in-out
	background-position: center
	z-index: 9
	@include bg-gradient(#353795, #144F96)
	color: $bg-font-color
	.hero__intro-text
		transform: translateZ(50px)
		z-index: 9
		text-align: right
		.hero__title-elem
			color: $color-decoration
		.hero__br 
			display: block

		h1
			line-height: 4rem
			text-align: left
		h5
			text-align: right
			margin-bottom: 0
		.hero__btn
			background: transparent
			color: $bg-font-color
			border: 2px solid $bg-font-color
			box-shadow: none
			padding: 10px 33px
			margin-top: 25px
			position: relative
			overflow: hidden
			cursor: pointer
			// background: rgba(14,32,54, 0.6);
			animation: shadow-pulse 1.5s infinite
			&:hover
				color: $decorative-color
				cursor: pointer
			&::before
				content: ''
				display: block
				background: $bg-font-color
				position: absolute
				width: 100%
				height: 100%
				top: 0
				left: -100%
				transition: 0.3s
				z-index: -1
			&:hover:before
				left: 0

@keyframes shadow-pulse
	0%
		box-shadow: 0 0 0 0px rgba(255,255,255,0.2)

	100%
		box-shadow: 0 0 0 35px rgba(255,255,255,0)


.hero__layer-inner
	background-image: url("../../img/svg/square-tile.svg")
	transform-style: preserve-3d
	

/* RWD ****************************/

@media only screen and (max-width: 1180px)
	.hero__new-line-mobile
		display: block

@media only screen and (max-width: 1024px)
	.hero__top-bar
		.hero__top-bar__left
			display: block

	// .hero__layer-outer,
	// .hero__layer-inner
	// 	background-position: -110px

@media only screen and (max-width: 1024px) and (max-height: 600px)
	.hero__layer-outer,
	.hero__layer-inner
		background-position: left

@media only screen and (max-width: 980px)
	.scroll__indicator
		display: none

	.hero__new-line-mobile
		display: inline

	#button-js
		display: none

	.hero__layer-outer,
	.hero__layer-inner
		background: transparent

	.hamburger__container
		opacity: 1

@media only screen and (max-width: 600px)
	.hero__intro-text
		padding: 50px
	.hero__layer-outer
		.hero__intro-text
			h1
				line-height: 3rem

@media only screen and (max-height: 350px)
	.hero__menu-container
		.hero__menu-list
			display: flex
			justify-content: space-between
			width: 100%
			padding: 25px
			.hero__menu-items
				text-align: right


