/*
Error: Invalid CSS after "100%%": expected expression (e.g. 1px, bold), was ""
        on line 46 of style.sass

41: 	.bg-img__container
42: 		&::before
43: 			position: absolute
44: 			content: ""
45: 			width: 100%
46: 			height: 100%%
47: 			left: 0
48: 			top: 0
49: 			right: 0
50: 			bottom: 0
51: 			background: $hero-overlay-color

Backtrace:
style.sass:46
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1278:in `expected'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script/lexer.rb:231:in `expected!'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script/parser.rb:724:in `assert_expr'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script/parser.rb:280:in `times_div_or_mod'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script/parser.rb:272:in `plus_or_minus'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script/parser.rb:272:in `relational'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script/parser.rb:272:in `eq_or_neq'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script/parser.rb:272:in `and_expr'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script/parser.rb:272:in `or_expr'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script/parser.rb:474:in `space'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script/parser.rb:415:in `interpolation'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script/parser.rb:339:in `expr'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script/parser.rb:722:in `assert_expr'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script/parser.rb:68:in `parse'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script/parser.rb:228:in `parse'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script.rb:27:in `parse'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:1177:in `parse_script'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:749:in `parse_property'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:708:in `parse_property_or_rule'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:667:in `parse_line'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:540:in `build_tree'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:559:in `block in append_children'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:558:in `each'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:558:in `append_children'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:549:in `block in build_tree'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:542:in `each'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:542:in `build_tree'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:559:in `block in append_children'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:558:in `each'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:558:in `append_children'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:549:in `block in build_tree'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:542:in `each'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:542:in `build_tree'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:559:in `block in append_children'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:558:in `each'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:558:in `append_children'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:549:in `block in build_tree'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:542:in `each'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:542:in `build_tree'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:559:in `block in append_children'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:558:in `each'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:558:in `append_children'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:417:in `_to_tree'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:320:in `block in watch'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"100%%\": expected expression (e.g. 1px, bold), was \"\"\A         on line 46 of style.sass\A \A 41: 	.bg-img__container\A 42: 		&::before\A 43: 			position: absolute\A 44: 			content: \"\"\A 45: 			width: 100%\A 46: 			height: 100%%\A 47: 			left: 0\A 48: 			top: 0\A 49: 			right: 0\A 50: 			bottom: 0\A 51: 			background: $hero-overlay-color"; }
